# Byte-compiled / optimized / DLL files
# (ignore __pycache__/ at any depth, and all .pyc/.pyo/.pyd files)
**/__pycache__/
**/*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
env/
*.venv

# PyInstaller build files
build/
dist/
*.spec

# Distribution / packaging
*.egg-info/
*.egg
*.whl

# Log files
*.log
*.txt

# Cache files
.mypy_cache/
.pyre/
.coverage
htmlcov/

# IDE and editor settings
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# System files
.DS_Store
Thumbs.db

# Databases, backups, temporary files
*.sqlite3
*.db
*.bak
*.tmp

# Inno Setup installer files (if you create an installer)
*.iss
*.exe
